<a href="https://colab.research.google.com/github/saitejavrs-lang/basic-python/blob/main/Untitled12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#print name
print("saiteja")

saiteja

In [ ]:
#print full name
a=input("enter the first name")
b=input("enter the second name")
c=a+b
print(c)

enter the first namesai
enter the second nameteja
saiteja

In [ ]:
#sum of two numbers
a=int(input("enter the first number"))
b=int(input("enter the second number"))
c=a+b
c

enter the first number6
enter the second number4

10

In [ ]:
#swap two numbers without 3rd variable
a=int(input("enter the first number"))
b=int(input("enter the second number"))
a=a+b
b=a-b
a=a-b
print(a,b)

enter the first number7
enter the second number4
4 7

In [ ]:
#to print primitive datatypes
a=5
b=1.4
c=True
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'bool'>

In [ ]:
#to print non-primitive datatypes
a=(1,2,3)
b=[1,2,3]
c={1,2,3,4,5}
d={1:"a",2:"b"}
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'tuple'>
<class 'list'>
<class 'set'>
<class 'dict'>

In [ ]:
#square of a number
a=int(input("enter the number"))
print(a**2)

enter the number8
64

In [ ]:
#average of three numbers
a=int(input("enter the first number"))
b=int(input("enter the second number"))
c=int(input("enter the third number"))
print((a+b+c)/3)

enter the first number7
enter the second number4
enter the third number6
5.666666666666667

In [ ]:
#take user input and multiply by 10
num = int(input("Enter a number: "))
result = num * 10
print("Result after multiplying by 10:", result)

Enter a number: 8
Result after multiplying by 10: 80

In [ ]:
# Program to convert minutes to seconds

minutes = int(input("Enter time in minutes: "))
seconds = minutes * 60
print(minutes, "minutes =", seconds, "seconds")

Enter time in minutes: 43
43 minutes = 2580 seconds

In [ ]:
# Program to find largest of three numbers

a = float(input("Enter first number: "))
b = float(input("Enter second number: "))
c = float(input("Enter third number: "))

largest = max(a, b, c)
print("The largest number is:", largest)

Enter first number: 5
Enter second number: 9
Enter third number: 3
The largest number is: 9.0

In [ ]:
# Program to find sum of first n natural, even, and odd numbers

n = int(input("Enter a positive integer: "))

# Sum of first n natural numbers
sum_natural = n * (n + 1) // 2

# Sum of first n even numbers: 2 + 4 + 6 + ... + 2n = n(n+1)
sum_even = n * (n + 1)

# Sum of first n odd numbers: 1 + 3 + 5 + ... + (2n-1) = n^2
sum_odd = n * n

print("Sum of first", n, "natural numbers:", sum_natural)
print("Sum of first", n, "even numbers:", sum_even)
print("Sum of first", n, "odd numbers:", sum_odd)

Enter a positive integer: 4
Sum of first 4 natural numbers: 10
Sum of first 4 even numbers: 20
Sum of first 4 odd numbers: 16

In [ ]:
# Program to check if number is positive, negative or zero

num = float(input("Enter a number: "))

if num > 0:
    print("The number is Positive")
elif num < 0:
    print("The number is Negative")
else:
    print("The number is Zero")

Enter a number: 7
The number is Positive

In [ ]:
# Program to check odd or even

num = int(input("Enter an integer: "))

if num % 2 == 0:
    print(num, "is Even")
else:
    print(num, "is Odd")

Enter an integer: 8
8 is Even

In [ ]:
# Program to check if number is divisible by 5 and 11

num = int(input("Enter an integer: "))

if num % 5 == 0 and num % 11 == 0:
    print(num, "is divisible by both 5 and 11")
else:
    print(num, "is NOT divisible by both 5 and 11")

Enter an integer: 55
55 is divisible by both 5 and 11

In [ ]:
# Program to check grade using marks

marks = int(input("Enter your marks (0-100): "))

if marks >= 90:
    grade = "A+"
elif marks >= 80:
    grade = "A"
elif marks >= 70:
    grade = "B"
elif marks >= 60:
    grade = "C"
elif marks >= 50:
    grade = "D"
elif marks >= 35:
    grade = "E"
else:
    grade = "F (Fail)"

print("Your Grade is:", grade)

Enter your marks (0-100): 98
Your Grade is: A+

In [ ]:
# Program to check the day of the week

day = int(input("Enter a number (1-7): "))

if day == 1:
    print("Sunday")
elif day == 2:
    print("Monday")
elif day == 3:
    print("Tuesday")
elif day == 4:
    print("Wednesday")
elif day == 5:
    print("Thursday")
elif day == 6:
    print("Friday")
elif day == 7:
    print("Saturday")
else:
    print("Invalid input! Please enter a number between 1 and 7.")
\

Enter a number (1-7): 5
Thursday

In [ ]:
# simple credential check
username = input("Enter username: ")
password = input("Enter password: ")

correct_user = "admin"
correct_pass = "password123"

if username == correct_user and password == correct_pass:
    print("Login successful âœ…")
else:
    print("Login failed â€” invalid username or password âŒ")

Enter username: admin
Enter password: password123
Login successful âœ…

In [ ]:
# Simple Arithmetic Program

a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

print("Addition:", a + b)
print("Subtraction:", a - b)
print("Multiplication:", a * b)
print("Division:", a / b)

Enter first number: 5
Enter second number: 9
Addition: 14
Subtraction: -4
Multiplication: 45
Division: 0.5555555555555556

In [ ]:
# Program to check number of days in a month

month = int(input("Enter month number (1-12): "))

if month == 1 or month == 3 or month == 5 or month == 7 or month == 8 or month == 10 or month == 12:
    print("31 days")
elif month == 4 or month == 6 or month == 9 or month == 11:
    print("30 days")
elif month == 2:
    print("28 or 29 days (February)")
else:
    print("Invalid month number! Please enter between 1 and 12.")

Enter month number (1-12): 4
30 days

In [ ]:
# Program to check body temperature

temp = float(input("Enter your body temperature in Â°C: "))

if temp >= 37.5:
    print("You have Fever ðŸ¤’")
elif 36.0 <= temp < 37.5:
    print("Your temperature is Normal ðŸ™‚")
else:
    print("You feel Cold ðŸ¥¶")

Enter your body temperature in Â°C: 45
You have Fever ðŸ¤’

In [ ]:
age=int(input("enter your age"))
if (age<12):
  print ("child")
elif (age<=19):
  print ("teenage")
else:
  print ("adult")

enter your age20
adult

In [ ]:
age=int(input("enter your age"))
if (age<12):
  print ("child")
elif (age<=19):
  print ("teenage")
else:
  print ("adult")

enter your age13
teenage